@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  box-sizing: border-box;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* calendar */
div.react-calendar { 
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  color: white;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 1.2rem;
  font-weight: bolder;
  transition: all ease-in-out .3s;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa29;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}
div.react-calendar__month-view__weekdays {
  font-size: 1.2rem;
}
button.react-calendar__tile {
  transition: all ease-in-out .2s;
  height: 5%;
}
button.react-calendar__title:enabled {
  background-color: blue;
}
button.react-calendar__tile:enabled:hover {
  background-color: #f8f8fa29;
}
button.react-calendar__tile:disabled {
  background-color: #f8f8faaa;
}